[Unit]
Description=watcher

[Service]
EnvironmentFile=/opt/alertea/config
ExecStart=/bin/bash -c '\
        /opt/alertea/watcher/watcher \
        --log-to-file=${WATCHER_LOG_TO_FILE} \
        --log-file=${WATCHER_LOG_FILE} \
        --log-error-file=${WATCHER_LOG_ERROR_FILE} \
        --db-driver="${DB_DRIVER}" \
        --maria-user="${MARIA_USER}" \
        --maria-password="${MARIA_PASSWORD}" \
        --maria-database-name="${MARIA_DB}" \
        --debug \
        --time-profiling \
        --cache \
        --cache-ttl=5m '
ExecStop=/bin/bash -c 'pkill watcher'


[Install]
WantedBy=multi-user.target
